*{
    /* These two done so as to remove all the paddings and margins and stretch the full screen */
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}

.wrapper{
    /* here vw stands for view width and this will set view width to 100  */
    width: 100vw;
    /* here vh stands for view height and this will set view height to 100 */
    height: 100vh;
    /* This can be copied from gradient generator online tools */
    background: rgb(90,95,226);
    background: linear-gradient(180deg, rgba(90,95,226,1) 0%, rgba(56,48,119,1) 50%, rgba(15,11,45,1) 100%);
    /*  */
    display: flex;
    /* This will display everything in column */
    flex-direction: column;
    /* This will align items in center */
    align-items: center;
}

.scoreboard{
    width: 70vw;
    height: 25vh;
    border: 1px solid white;
    border-radius: 15px;
    display: flex;
    margin-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    /*margin-top: 20px;*/
    /* This will give a sapce between the two items */
    justify-content: space-between;
    /* This will align items to center */
    align-items: center;
}

.title img{
    width: 40vw;
    height: 20vh;
    max-width: 260px;
}

.score{
    width: 8.5vw;
    /* height: 70px; */
    border: 1px solid white;
    background: white;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score h1{
    color: #5352ed;
    font-size: 40px;
}

.score h2{
    font-size: 20px;
    color: #637081;
    letter-spacing: 2.5px;
}

.hands{
    background-size: 21vw;
    background-position: center;
    background-image: url('../images/triangle.png');
    background-repeat: no-repeat;
    margin-top: 20px;
    /* border: 1px solid white;  */
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hands img{
    width: 17vw;
    min-width: 140px;
}

.hands .hand{
    /* changes the cursor to pointer when above it */
    cursor: pointer;
    /* this controls the transition time of animation */
    transition: all 0.25s;
}

.hands .hand:hover{
    /* Transforms 3d image */
    transform: translate3d(0px,-8px,0px);;
}

.result{
    margin-top: 20px;
    /* border: 1px solid white; */
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    display: none;
}

.result img{
    width: 22vw;
    margin-top: 20px;
}

.result h1{
    color: white;
    font-size: 3vw;
}

.userhand{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.computerhand{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.matchresulttell{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.matchresulttell h1{
    font-size: 4vw;
    margin-bottom: 20px;
}

.newgame{
    width: 9vw;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    transition: all 0.35s;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.newgame:hover{
    background-color: antiquewhite;
    transform: translate3d(0px,-8px,0px);;
}